---
import hero from '../data/hero.yaml';
---

<article class="flex flex-col md:flex-row justify-between items-center">
  <section class="md:order-2 rounded-full overflow-hidden shadow-lg h-64 w-64">
    <img src={`/${hero.avatar}`} alt="Headshot">
  </section>
  <section class="text-center flex flex-col items-center">
    <h1 class="mt-4 md:mt-0">Yash <span class="text-red-600">Savani</span></h1>
    <h3 class="text-xl mt-4">
      {hero.position} <br>
      {hero.workplace}
    </h3>
    <h3 class="text-xl mt-4">
      {hero.email}
    </h3>
    <ul class="w-full flex justify-evenly mt-4 text-gray-600">
      {hero.contacts.map((item) => (
        <li><a href={item.url} class={`${item.icon} fa-2x`} title={item.title}></a></li>
      ))}
    </ul>
    <div class="flex gap-3 mt-4">
      <a href={`/${hero.resume_url}`}
        class="px-3 py-1 flex items-center justify-evenly rounded-full text-red-600 border-2 border-red-600 uppercase tracking-wider
                hover:text-gray-200 hover:bg-red-600 transition ease-in-out duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 pr-1 flex-none" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
        <span class="flex-none">Resume</span>
      </a>
      <a href="https://calendly.com/yashsavani/30min"
        class="px-3 py-1 flex items-center justify-evenly rounded-full text-red-600 border-2 border-red-600 uppercase tracking-wider
                hover:text-gray-200 hover:bg-red-600 transition ease-in-out duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 pr-1 flex-none" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        <span class="flex-none">Schedule</span>
      </a>
    </div>
  </section>
</article>
